<script src="/public/Jquery/jquery.js"></script>
<script src="/public/dist/js/bootstrap.js"></script>
<script src="/public/dist/js/collapse.js"></script>
<script src="/public/dist/js/popover.js"></script>
<script src="/public/dist/js/scrollspy.js"></script>

</body>
</html>